button{
  background: none;
  border: none;
  color: #ffdd4a;
  cursor: pointer;
  font-family:
}

.App {
  height: 100%;
  background-color: #3c6997;
  color: aliceblue;
}
/* Nav bar Start */
.nav-container{
  display:flex;
  padding: 2%;
  background-color: #5adbff;
  justify-content: space-between;
  -webkit-box-shadow: 6px 8px 8px -6px rgba(0,0,0,1);
  -moz-box-shadow: 6px 8px 8px -6px rgba(0,0,0,1);
  box-shadow: 6px 8px 8px -6px rgba(0,0,0,1);
}

.nav-button{
  padding: 0 10px;
  font-size: 16px;
  font-family: 'Abel', 'Thasadith', 'Roboto', sans-serif;
}
.no-underline{
  text-decoration: none;
  cursor: pointer;
}
/* Nav bar END */

.the-rest{
  display:flex;
}


/* Tournament Item Container */
.tContainer{
  /* display: flex;
  border: 1px solid black;
  border-radius: 5px;
  width: 30%;
  margin: 5px; */
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 500px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: scroll;
  margin: 10px;
  justify-content: space-between;
  -webkit-box-shadow: 6px 8px 8px -6px rgba(0,0,0,1);
  -moz-box-shadow: 6px 8px 8px -6px rgba(0,0,0,1);
  box-shadow: 6px 8px 8px -6px rgba(0,0,0,1);
}

/* tournament list container */
.tl-container{
display: flex;
align-self: center;
}
/* Tournament container */
.tc-button-container{
  display:flex;
  justify-content: space-around;
}
.tc-text{
  text-align: center;
  font-family: 'Abel', 'Thasadith', 'Roboto', sans-serif;
  font-size: 2em;

}


.tName,
.tLocation,
.tPhone,
.tEmail,
.tDate,
.tInfo,
.tCreated{
  word-wrap: break-word;
  padding: 5px;
  align-self: center;
  text-align: center;
}
.button-font{
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 1.5em;
}

.hide-overflow{
  /* overflow: scroll; */
}

/* ALL IMG MODS ARE BELOW */
.img-clock{
  height: 50px;
}

/* !!!!!FORM CSS BELOW!!!!! */
.form-container{
  Display: flex;
  justify-content: space-around;
}
.input-container{
  display: flex;
  /* flex-grow: 1; */
  padding: 5px;
  /* border: 1px solid red; */
  margin: 10px;
  /* justify-content: space-between; */
  /* -webkit-box-shadow: 6px 8px 8px -6px rgba(0,0,0,1);
  -moz-box-shadow: 6px 8px 8px -6px rgba(0,0,0,1);
  box-shadow: 6px 8px 8px -6px rgba(0,0,0,1); */
  flex-direction: column;

}
.input-div{
  display: flex;
  flex-direction: column;
}
.rc-container{
  display: flex;
  flex-direction: column;
}
.rc-form{
  display: flex;
  flex-direction: column;
  /* background-color:; */
}
.f-input{
  border: none;
  height: 2.5em;
  /* opacity: .1; */
  border-radius: 5px;
  color: #ffdd4a;
  background-color: #5078a2;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  /* -webkit-box-shadow: 6px 8px 8px -6px rgba(0,0,0,1);
  -moz-box-shadow: 6px 8px 8px -6px rgba(0,0,0,1);
  box-shadow: 6px 8px 8px -6px rgba(0,0,0,1); */
  font-weight: 800;
  align-items: center;
  margin:5px;
}
.checkbox-inputs{
  display: flex;
  align-self: center;
}
.send{
  margin-left: 8%;
  align-self: center;
}

.ca-container{
  /* background-color: purple; */
}
.login-container{
  display: flex;
  flex-direction: column;
}
.ctf-container{
  /* display: flex; */
  width: 75vw;
  /* align-self: center; */
  justify-content: center;
  text-align: center;
  margin:auto;
}

.f-container{
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  /* align-self: center; */
  /* flex-direction: column; */
}
.basic-info-container{
  width: 100%;
  display:flex;
  justify-content: flex-start;
}
.form-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.first-column,
.second-column{
  width: 50%;
}

.name-date-div,
.phone-div,
.email-div,
.date-div{
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-content: stretch; */
  /* margin: auto; */
}


input[type=text],
input[type=tel],
input[type=email],
input[type=password] {
border: 0;
box-shadow: -8px 10px 0px -7px #bb9f7a, 8px 10px 0px -7px #bb9f7a;
-webkit-transition: box-shadow 0.3s;
transition: box-shadow 0.3s;
}

input[type=text]:focus{
outline: none;
box-shadow: -8px 10px 0px -7px #fe9000, 8px 10px 0px -7px #fe9000;
}
input[type=tel]:focus{
outline: none;
box-shadow: -8px 10px 0px -7px #fe9000, 8px 10px 0px -7px #fe9000;
}
input[type=email]:focus{
outline: none;
box-shadow: -8px 10px 0px -7px #fe9000, 8px 10px 0px -7px #fe9000;
}
input[type=password]:focus{
outline: none;
box-shadow: -8px 10px 0px -7px #fe9000, 8px 10px 0px -7px #fe9000;
}
.login-form{
  display: flex;
  flex-direction: column;
}
.pointer{
  cursor: pointer;
}
.hvr-grow {
  margin: 0px 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}