/* .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: red;
}
nav{
  display: flex;
  justify-content: space-between;
  background-color: orange;
}
.rest-div {
  display: flex;
  justify-content: space-between;
} */